language: rust

os: osx

sudo: required

cache: cargo

rust:
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly

# addons:
#   apt:
#     packages:
#       - libcurl4-openssl-dev
#       - libelf-dev
#       - libdw-dev
#       - cmake
#       - gcc
#       - binutils-dev

env:
  - CODECOV_TOKEN="ec14ed81-cc04-4934-b90f-445bea073831"

script:
  - cargo build
  - cargo test

after_success:
# Refresh documentation
  - codecov
