[package]
name = "arc"
version = "0.1.0"
authors = ["Freddy Wordingham <fjmw201@exeter.ac.uk>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
colog = "0.2.1"
colored = "1.9.1"
log = "0.4.8"
nalgebra = "0.19.0"
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.44"
terminal_size = "0.1.8"
rand = "0.7.2"
