[package]
name = "arc"
version = "0.1.0"
authors = ["Freddy Wordingham <fjmw201@exeter.ac.uk>"]
edition = "2018"
default-run = "main"

[dependencies]
colog = "0.2.1"
colored = "1.9.2"
indicatif = "0.13.0"
log = "0.4.8"
nalgebra = { version = "0.19.0", features = ["serde-serialize"] }
ndarray = { version = "0.13.0", features = ["rayon", "serde-1"] }
ndarray-stats = "0.3.0"
netcdf = "0.4.0"
physical_constants = "0.3.0"
rand = "0.7.3"
rayon = "1.3.0"
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.44"
terminal_size = "0.1.10"
json5 = "0.2.5"
proc_mac = { path = "res/crates/proc_mac" }
attr_mac = { path = "res/crates/attr_mac" }
