[package]
name = "arc"
version = "0.1.0"
authors = ["freddywordingham"]
edition = "2018"
# default-run = "hello_world"
# documention = "https://freddywordingham.github.io/arc"

[dependencies]
assert_approx_eq = "1.1.0"
colog = "0.2.1"
colored = "1.8.0"
contracts = "0.3.0"
indicatif = "0.12.0"
log = "0.4.8"
nalgebra = "0.18.1"
ndarray = "0.13.0"
netcdf = "0.3.0"
serde = { version = "1.0.101", features = ["derive"] }
serde_json = "1.0.41"
terminal_size = "0.1.8"

# Development profile: "cargo build".
[profile.dev]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 16
panic = 'unwind'
incremental = true
overflow-checks = true

# Release profile: "cargo build --release"
[profile.release]
opt-level = 3
debug = false
rpath = false
lto = false
debug-assertions = false
codegen-units = 16
panic = 'unwind'
incremental = false
overflow-checks = false

# Testing profile: "cargo test"
[profile.test]
opt-level = 0
debug = 2
rpath = false
lto = false
debug-assertions = true
codegen-units = 16
panic = 'unwind'
incremental = true
overflow-checks = true

# Benchmark profile: "cargo bench" (and "cargo test --release)".
[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = false
debug-assertions = false
codegen-units = 16
panic = 'unwind'
incremental = false
overflow-checks = false
